button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
button, span {
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    margin: 60px auto 0;
    width: 1000px;
    height: auto;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}

#header {
    padding-bottom: 40px;
    border-bottom: 1px solid #535353;
}


html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
div {
    display: block;
}

element.style {
    display: none;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
/* main section */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}

user agent stylesheet
div {
    display: block;
}
/* preconten */
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
/* content */
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
/* div-contet */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}

user agent stylesheet
div {
    display: block;
}
/* div-ckeckout */
#checkout-top-image {
    background: url(images/sushi-preview.png) no-repeat top left;
    height: 50px;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
/* checkout-botton-image */
#checkout-bottom-image {
    background: url(images/sushi-preview.png) no-repeat bottom left;
    height: 53px;
    margin-bottom: 20px;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}

user agent stylesheet
div {
    display: block;
}

/* footer */
#footer {
    position: relative;
    border-top: 1px solid #535353;
    font-size: 12px;
    padding-bottom: 60px;
    color: #999;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
/* footter-p */
#footer p {
    margin: 10px 0;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
user agent stylesheet
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* footer p2 */
#footer p {
    margin: 10px 0;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, input, p, th, td, button, span {
    margin: 0;
    padding: 0;
    border: 0;
}
/* imagen de fondo */
#checkout-bottom-image {
    background: url("http://demos.telerik.com/kendo-ui/content/spa/websushi/images/200/shiromi.jpg") no-repeat bottom left;
    height: 53px;
    margin-bottom: 20px;
}

